* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: url("https://www.housedecorinteriors.co.uk/UserFiles/wallpapers/9_harlequin/196_delphine_wallpapers/HAR110197_z.jpg");
}

#About {
    margin-right: 20px;
    margin-bottom: 1px;
}

.border-top {
    border-width: 4px !important;
}

footer {
    padding-top: 6px;
    font-size: 12px;
}